@model IEnumerable<Proyect_Solo_Recommendation.Models.User>

@{
    ViewData["Title"] = "Lista de Usuarios";
}

<h1>Lista de Usuarios</h1>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre de Usuario</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Rol</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.Username</td>
                <td>@user.Firstname</td>
                <td>@user.Lastname</td>
                <td>@user.Role?.Name</td>
            </tr>
        }
    </tbody>
</table>